@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply max-w-[1171px] mx-auto;
    }
    .input {
        @apply w-full 1171:w-[450px] px-[30px] py-[14px] outline-none font-neucha bg-transparent text-[18px] text-white text-opacity-[0.5] border border-opacity-[0.5];
    }
    .button {
        @apply duration-300 transition hover:bg-red-700;
    }
}

body{
    background: #161719;
    font-family: 'Neucha';
}

.font-neucha {
    font-family: 'Neucha', sans-serif;
}

.menu.active{
    transform: translateX(0);
}

.burger.active{
    direction: none;
}
